/* General page styles */
body {
    background-color: #ffdde1; /* Light pink */
    font-family: 'Courier New', Courier, monospace;
}

/* Headings with pastel highlights */
h1 {
    background-color: #bae1ff; /* Pastel blue */
    display: inline;
}

h2 {
    background-color: #ffc480; /* Pastel orange */
    display: inline;
}

h3 {
    background-color: #ffec7e; /* Pastel yellow */
    display: inline;
}

h4 {
    background-color: #b9eec5; /* Pastel green */
    display: inline;
}

/* Link styles */
a:visited {
    color: rgb(236, 56, 116);
}
